<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f9fafa;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 1rem;
        text-align: center;
        color: #333;
      }

      h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
        color: #007b83;
      }

      p {
        font-size: 1.2rem;
      }

      a {
        color: #007b83;
        text-decoration: none;
        font-weight: bold;
      }

      a:hover {
        text-decoration: underline;
      }

      .card {
        background: white;
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        max-width: 400px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to reciters app</h1>
    <p>
      Click <a href="/register">here</a> to register or
      <a href="/login">login</a> if you already have an account
    </p>
  </body>
</html>
