/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/

/* .wrapper {
  width: 90%;
  margin: 32px auto;
} */

.orange-background {
  background: orange;
}
.orange-text {
  color: orange;
}

header {
  background-image: url("../images/abdul-raheem-kannath-qXObFsxfq24-unsplash.jpg");
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px auto;
  margin-top: 0;
}

.nav-item {
  display: flex;
  gap: 20px;
  list-style: none;
}
.nav-list-item a {
  text-decoration: none;
  color: black;
}

.nav-content {
  width: 90%;
  margin: 20px auto;
  margin-top: 70px;
}

.nav-content h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: max-content;
  overflow: hidden;
}

.input-wrapper {
  position: relative;
  flex-grow: 1;
}
.input-wrapper i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.input-wrapper input {
  padding: 8px 8px 8px 30px;
  border: none;
  outline: none;
  width: 200px;
}

.dropdown {
  position: relative;
}

.dropdown-button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
  min-width: 120px;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #eee;
}

/* This is the key part */
.dropdown:hover .dropdown-content {
  display: block;
}

.socials {
  display: flex;
  gap: 20px;
}

.socials i {
  margin-right: 5px;
  color: orange;
}

.about-us {
  display: flex;
  justify-content: space-between;
}

.about-us img {
  height: 500px;
  width: 35%;
}

.about-us-content p {
  width: 450px;
}

.about-us-content h2 {
  font-size: 28px;
}

.about-us-content .menu-btn {
  border: 5px solid orange;
  width: 150px;
  padding: 10px;
  cursor: pointer;
}

.about-us-content {
  width: 50%;
}

.order-menu {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.order-menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.order-menu-list-item {
  border-bottom: 2px solid silver;
}

.order-menu-list li:first-child {
  border-bottom: 2px solid orange;
}

.gallery {
  background: #f2f6f7;
  padding: 30px;
}
footer {
}
.gallery-images {
  width: 80%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(4, auto);
  gap: 10px;
}

.gallery-images img {
  width: 300px;
  height: 200px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
