<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body>
    <h1>My TodoList</h1>
    <ul class="todo-list">
      <% todos.forEach(function(todo) { %>
      <li class="todo-item">
        <span><%= todo.todo %></span>
        <!-- Font Awesome trash icon for delete -->
        <i class="fas fa-trash delete-icon"></i>
      </li>
      <% }); %>
    </ul>
    <h4>Left to do: 0</h4>
    <form action="/todo" method="post">
      <input type="text" name="todo" />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
